.buttonStyle{
    background-color: black;
    font-weight: bolder;
    font-size:18px;
    color:white;
}

.productTitle{
    font-size:20px;
    color:brown;
}
.box{
    width:100%;
    height:100%;
    border:2px solid brown;
    padding:10px;
    margin-bottom: 20px;
}